body {
    background-color: steelblue;
}
textarea {
    resize: none;
    background-color: darkslategray;
    color: whitesmoke;
}
img {
    max-width: 100%;
}
.container {
    width: 100%;
    height: 100vh;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  #editor {
    border: 1px solid whitesmoke;
    margin: 50px;
    width: 90%;
    height: 60vh;
    padding: 1rem;
    box-sizing: border-box;
  }
  #preview {
    
    padding: 1rem;
    box-sizing: border-box;
    border: 1px solid black;
    width: 90%;
    background-color: antiquewhite;
  }